.Page4{
    max-width: 1230px;
    width: 100%;
}
.about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.about_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.about_left{
    width: 30%;
    margin: 90px 50px;
}
.title_1{
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    text-align: left;
    color: #424242;
}
.title_2{
    font-family: Georgia;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    color: #01996D;
    margin: 10px auto;
}
.text5{
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin: 10px auto;
}
.btn8{
    align-self: start;
    border-radius: 4px;
    background-color: #01996D;
    border: 1px solid #01996D
}
.btn8 p{
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 25px;
}
.btn8 p:hover{
    color: black;
    cursor: pointer;
}

/*Левый блок*/
.wrap__1{
    position: relative;
}
.bgbig{
    position: relative;
    margin: 20px;
    padding: 0;
    z-index: 1;
}
.imgbig{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 20%;
}
.position{
    position: absolute;
    z-index: 20;
    top: 70%;
    left: -10%;
}
.bgsmall{
    position: relative;
    z-index: 1;
    height: auto;
    background-color: white;
    background-size: cover;
    box-shadow: -5px 5px 20px grey ;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}
.titlesmall{
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.line{
    align-self: center;
    width: 70px;
    border: 1px solid #000000;
}
.imgsmall{
    margin: 10px auto;
}
.name{
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
.titlesmall2{
    font-family: Georgia;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin: 10px 0;
}
.infoul{
    list-style: none;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    color: #000000;
}