.Page2{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.left_section{
    width: 40%;
    padding: 40px;
}
.right_section{
    width: 50%;
    padding: 70px 25px;
}
.title1{
    justify-self: left;
    margin: 10px auto;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #424242;
}
.title2{
    justify-self: left;
    margin: 10px auto;
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #01996D;
    padding-right: 80px;
}
.right_info{
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #424242;
}


/*Инфа*/
.about_item{
   height: 13%;
}
.about_item_2{
    height: 8%;
}
.about_item_3{
    height: 5%;
}
.info_about1{
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    max-width: 500px;
}
.info_about2{
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    max-width: 500px;
}
.info_about3{
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    max-width: 500px;
}
.title01{
    z-index: 10;
    font-family: Georgia;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
    color: #01996D33;
;
}
.infoOn1{
    margin: 30px;
    position: absolute;
    top: 4%;
    left: 5%;
    font-family: Georgia;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #000000;
}
.infoOn2{
    position: absolute;
    top: 10%;
    left: 10%;
}
.infoOn2 p{
    display: inline-block;
    font-family: Georgia;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    width: 100%;
    color: #000000;
}
.infoOn3{
    margin: 30px;
    position: absolute;
    top: 5%;
    left: 13%;
    font-family: Georgia;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #000000;
}
.text1{
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
    color: #424242;
}
.text2{
    margin-top: 20px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
    color: #424242;
}
.text33{
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
    color: #424242;
}
.about_img1 img{
    display: block;
    width: 100%;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.about_img2 img{
    display: block;
    width: 100%;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.about_img3 img{
    display: block;
    width: 100%;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.wrap2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 10px 20px 50px 20px;
}

@media (max-width: 1024px){
    .Page2{
        width: 100%;
        max-width: 1230px;
        margin: 0 auto;
    }
    .title2{
        justify-self: left;
        margin: 10px auto;
        font-family: Georgia;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        text-align: left;
        color: #01996D;
    }
    .wrap2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .info_about1{
        margin-top: 10px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 550px;
    }
    .info_about2{
        margin-top: 50px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 600px;
    }
    .info_about3{
        margin-top: 50px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 600px;
    }
    .about_item_1{
        height: 13%;
    }
    .about_item_2{
        height: 13%;
    }
    .about_item_3{
        height: 15%;
    }
    .infoOn1{
        margin: 30px;
        position: absolute;
        top: 4%;
        left: 5%;
        font-family: Georgia;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        color: #000000;
    }
    .infoOn2{
        position: absolute;
        top: 8%;
        left: 10%;
    }
    .infoOn3{
        margin: 30px;
        position: absolute;
        top: 5%;
        left: 8%;
        font-family: Georgia;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        text-align: left;
        color: #000000;
    }
    .text1 p{
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        padding: 10px 0;
        color: #424242;
    }
    .text2 p{
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        padding: 10px 0;
        color: #424242;
    }
    .text33 p{
        font-family: Lato;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        padding: 10px 0;
        color: #424242;
    }
    .about_img1 img{
        height: 600px;
        display: block;
        width: 100%;
        border-radius: 30px;
    }
    .about_img2 img{
        height: 600px;
        display: block;
        width: 100%;
        border-radius: 30px;
    }
    .about_img3 img{
        height: 600px;
        display: block;
        width: 100%;
        border-radius: 30px;
    }
}