.Page2{
    width: 100%;
    max-width: 1230px;
    margin-top: 50px;
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.left_section{
    width: 40%;
    padding: 40px;
}
.right_section{
    width: 40%;
    padding: 70px;
}
.title1{
    justify-self: left;
    margin: 10px auto;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    color: #424242;
}
.title2{
    justify-self: left;
    margin: 10px auto;
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #01996D;
    padding-right: 80px;
}
.right_info{
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #424242;
}


/*Инфа*/
.info_about{
    margin-left: 42px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
}
.about_item{
   height: 1%;
}
.info_about2{
    margin-top: 200px;
    margin-left: 42px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    max-width: 500px;
}
.title01{
    padding-left: 15px;
    z-index: 10;
    font-family: Georgia;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
    color: #01996D33;
;
}
.infoOn1{
    margin: 30px;
    position: absolute;
    top: 4%;
    left: 10%;
    font-family: Georgia;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #000000;
}
.infoOn2{
    position: absolute;
    top: 10%;
    left: 10%;
}
.infoOn2 p{
    display: inline-block;
    font-family: Georgia;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    width: 100%;
    color: #000000;
}
.infoOn3{
    margin: 30px;
    position: absolute;
    top: 5%;
    left: 13%;
    font-family: Georgia;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #000000;
}
.text{
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
    color: #424242;
}
.text2{
    margin-top: 100px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
    color: #424242;
}
.text33{
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    padding: 10px 0;
    color: #424242;
}
.about_img img{
    display: block;
    width: 100%;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.wrap2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}