@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('/css/firstpage.css');
@import url('/css/secondpage.css');
@import url('/css/thirdpage.css');
@import url('/css/thirdpage.css');
@import url('/css/fourpage.css');
@import url('/css/fivepage.css');
@import url('/css/firstpagecontent.css');

body{
    width: 100%;
    max-width: 1920px;
    font-family: 'Lato',sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1920px;
}

