.Page3{
    width: 100%;
    max-width: 1920px;
    height: 800px;
    background-color: #245852;
    display: flex;
}
.container3{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1230px;
}
.block_left{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 580px;
}
.title3{
    margin-bottom: 33px;
    font-family: Georgia,sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #ffffff;
}
.text3{
    margin-bottom: 33px;
    font-family: Lato,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    text-align: left;
    color: #FFFFFF;
}
.btn3{
    border: 1px solid #01996D;
    border-radius: 4px;
    background-color: #01996D;
}
.btn3 p{
    text-align: center;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    color: #ffffff;
    padding: 20px 30px;
}
.btn3 p:hover{
    color: #000000;
    cursor: pointer;
}
.block_right{
    display: flex;
}
.block_right img{
    height: 400px;
    width: 100%;
    max-width: 900px;
}