@import url('https://fonts.googleapis.com/css2? family = Lato: ital, wght @ 1,300 & family = Roboto & display = swap');
@import url('/css/firstpage.css');
@import url('/css/secondpage.css');
@import url('/css/thirdpage.css');
@import url('/css/thirdpage.css');
@import url('/css/fourpage.css');
@import url('/css/fivepage.css');

*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1920px;
}

