.Page3{
    width: 1920px;
    height: 922px;
}
.block_left{
    display: flex;
    flex-direction: column;
    margin: 310px 31px 260px 207px;
    width: 580px;
    height: 370px;
}
.bg3page{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    background-color: #245852;
    height: 922px;
    max-width: 1920px;
}
.title_wrap{
    display: flex;
    justify-content: center;
}
.title3{
    display: flex;
    height: 158px;
    width: 580px;
    padding: 10px;
    font-family: Georgia;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    color: #ffffff;
}
.text_wrap{
    display: flex;
    justify-content: center;
}
.text3{
    height: 39px;
    width: 550px;
    padding: 10px;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    text-align: left;
    color: #FFFFFF;
}
.btn3{
    height: 65px;
    width: 240px;
    border: 1px solid #01996D;
    border-radius: 4px;
    background-color: #01996D;
    display: block;
    box-sizing: border-box;
    margin-top: 70px;
    margin-left: 10px;
}
.btn3 a{
    text-decoration: none;
    padding: 1px;
    height: 25px;
    width: 140px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    color: #ffffff;
}
.btn3 a:hover{
    color: #000000;
    cursor: pointer;
}
.imgVideo{
    position: relative;
    z-index: 1;
    width: 900px;
    margin-top: 280px;
    margin-left: 100px;
}
.imgVideo img{
    width: 900px;
    height: 500px;
}
.circle{
    position: absolute;
    z-index: 2;
    top: 218px;
    left: 410px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}
.circle:hover{
    cursor: pointer;
}
.triangle{
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 240px;
    left: 430px;
    z-index: 3;
    width: 0;
    height: 0;
    border-left:25px solid transparent;
    border-right:25px solid transparent;
    border-bottom:40px solid white;
    transform: rotate(90deg);
}
.triangle:hover{
    cursor: pointer;
}